In [ ]:
SELECT
    столбец1 AS новое_название,
    столбец2,
    столбец3
FROM таблица
WHERE (условие1 OR условие2)                                                BETWEEN: условие AND условие выбирает промежуток между 2 мя условиями
    AND условие3                                                            NOT переворачивает условие  IN (условие, условие) заменяет конструкцию с OR
ORDER BY сортировка1 ASC(по возрастания), сортировка2 DESC (по убыванию)    LIKE 'А%' позволяет получить данные по имени LIKE '____________' ограничит по длинне символов
OFFSET 1 LIMIT 2                                                            IS NULL выводит пустые значения применяя к столбцу  
                                                                            NULLS FIRST / NULLS LAST. сортировка пустых значений

In [ ]:
extract (year from имя столбца)   вычлиняет год  из даты

Чтобы получить уникальные значения из столбца, воспользуемся ключевым словом DISTINCT.

In [ ]:
SELECT DISTINCT (можно применять к нескольким столбцам)
    type1
FROM sql.pokemon

COUNT считает строки, а звёздочка (*) в аргументе функции означает, что считаются все строки, которые возвращает запрос.

In [ ]:
SELECT
    COUNT(*)
FROM sql.pokemon

Внутри функции COUNT мы можем также применять DISTINCT, чтобы вычислить количество уникальных значений.

In [ ]:
SELECT
    COUNT(DISTINCT type1)
FROM sql.pokemon

Назовём основные агрегатные функции, с которыми нам предстоит работать:

COUNT — вычисляет число непустых строк;

SUM — вычисляет сумму;

AVG — вычисляет среднее;

MAX — вычисляет максимум;

MIN — вычисляет минимум.

In [ ]:
SELECT
    COUNT(*) AS "всего травяных покемонов",
    COUNT(type2) AS "покемонов с дополнительным типом",
    AVG(attack) AS "средняя атака",
    AVG(defense) AS "средняя защита"
FROM sql.pokemon
WHERE type1 = 'Grass'

Напишите запрос, который выведет:

количество покемонов (столбец pokemon_count),
среднюю скорость (столбец avg_speed),
максимальное и минимальное число очков здоровья (столбцы max_hp и min_hp)
для электрических (Electric) покемонов, имеющих дополнительный тип и, показатели атаки или защиты больше 50.

In [ ]:
SELECT
    COUNT(*) AS "pokemon_count",
    AVG (speed) AS "avg_speed",
    MAX (hp) AS "max_hp",
    MIN (hp) AS "min_hp"
FROM sql.pokemon
WHERE type2 IS NOT NULL AND type1 = 'Electric'
    AND (attack > '50' or defense > '50')

                                    ГРУППИРОВКА

Выведем число покемонов каждого типа.

In [ ]:
SELECT /*выбор*/
    type1 AS pokemon_type, /*столбец type1; присвоить алиас pokemon_type*/
    COUNT(*) AS pokemon_count /*подсчёт всех строк; присвоить алиас pokemon_count*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY type1 /*группировка по столбцу type1*/
ORDER BY type1 /*сортировка по столбцу type1*/

Представим ТОП существующих типов покемонов.

In [ ]:
SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY pokemon_type
ORDER BY COUNT(*) DESC

Напишите запрос, который выведет:

число различных дополнительных типов (столбец additional_types_count),
среднее число очков здоровья (столбец avg_hp),
сумму показателей атаки (столбец attack_sum) в разбивке по основным типам (столбец primary_type).
Отсортируйте результат по числу дополнительных типов в порядке убывания, при равенстве — по основному типу в алфавитном порядке. Столбцы к выводу (обратите внимание на порядок!): primary_type, additional_types_count, avg_hp, attack_sum.

In [ ]:
SELECT
    DISTINCT type1 AS primary_type,
    COUNT(DISTINCT type2) AS additional_types_count,
    AVG (hp) AS avg_hp,
    SUM (attack) AS attack_sum
FROM sql.pokemon
GROUP BY primary_type --группируем результат по столбцу
ORDER BY additional_types_count DESC, type1

Мы можем осуществлять группировку по нескольким столбцам.

In [ ]:
SELECT
    type1 AS primary_type,
    type2 AS additional_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY 1, 2
ORDER BY 1, 2 NULLS FIRST

GROUP BY можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию DISTINCT.

Сравните выводы двух запросов:

In [ ]:
SELECT DISTINCT 
    type1
FROM sql.pokemon

In [ ]:
SELECT
    type1
FROM sql.pokemon
GROUP BY type1

Если ключевое слово WHERE определяет фильтрацию строк до агрегирования, то для фильтрации уже агрегированных данных применяется ключевое слово HAVING. Важно! HAVING обязательно пишется после GROUP BY.

Выведем типы покемонов и их средний показатель атаки, при этом оставим только тех, у кого средняя атака больше 90.

In [ ]:
SELECT /*выбор*/
    type1 AS primary_type, /*таблица type1; присвоить алиас primary_type*/
    AVG(attack) AS avg_attack /*расчёт среднего по столбцу attack; присвоить алиас avg_attack*/
FROM sql.pokemon /*из таблицы sql.pokemon*/
GROUP BY primary_type /*группировать по столбцу primary_type*/
HAVING AVG(attack) > 90 /*фильтровать по среднему значению attack, превышающему 90*/

В общем виде синтаксис оператора SELECT, с учётом имеющихся на данный момент знаний, представляем следующим образом:

In [ ]:
SELECT [ALL | DISTINCT] список_столбцов|*
FROM список_имён_таблиц
[WHERE условие_поиска]
[GROUP BY список_имён_столбцов]
[HAVING условие_поиска]
[ORDER BY имя_столбца [ASC | DESC],…]

Напишите запрос, чтобы для покемонов, чьё имя (name) начинается с S, вывести столбцы с их основным типом (primary_type) и общим числом покемонов этого типа (pokemon_count). Оставьте только те типы, у которых средний показатель защиты больше 80. Выведите топ-3 типов по числу покемонов в них.

In [ ]:
SELECT
    type1 AS primary_type,
    count(type1) AS pokemon_count
FROM sql.pokemon
WHERE name LIKE 'S%'
GROUP BY primary_type
HAVING AVG(defense) > 80
ORDER BY pokemon_count DESC
OFFSET 0 LIMIT 3

И в довершение итогов напомним структуру запроса, который мы можем составить с учётом новых знаний:

In [ ]:
SELECT
    столбец1 AS новое_название,
    столбец2,
    АГРЕГАТ(столбец3)
FROM таблица
WHERE (условие1 OR условие2)
    AND условие3
GROUP BY столбец1, столбец2
HAVING АГРЕГАТ(столбец3) > 5
ORDER BY сортировка1, сортировка2
OFFSET 1 LIMIT 2

Напишите запрос, который выведет основной и дополнительный типы покемонов и средние значения по каждому показателю (столбцы avg_hp, avg_attack, avg_defense, avg_speed).Оставьте только те пары типов, у которых сумма этих четырёх показателей более 400.

In [ ]:
SELECT 
    type1,
    type2,
    AVG(hp) AS avg_hp,
    AVG(attack) AS avg_attack, 
    AVG(defense) AS avg_defense,
    AVG(speed) AS avg_speed
FROM sql.pokemon
GROUP BY type1, type2
HAVING (AVG(hp)+AVG(attack)+AVG(defense)+AVG(speed)) > 400

Напишите запрос, который выведет столбцы с основным типом покемона и общим количеством покемонов этого типа. Учитывайте только тех покемонов, у кого или показатель атаки, или показатель защиты принимает значение между 50 и 100 включительно. Оставьте только те типы покемонов, у которых максимальный показатель здоровья не больше 125. Выведите только тот тип, который находится на пятом месте по количеству покемонов.

In [ ]:
SELECT 
    type1,
    count(type1)
FROM sql.pokemon
WHERE ((attack BETWEEN 50 AND 100) OR (defense BETWEEN 50 AND 100))
GROUP BY type1
HAVING MAX(hp) <125
ORDER BY count DESC
OFFSET 4 LIMIT 1

Напишите запрос, который выведет сезон (season), а также общее количество забитых мячей домашними (total_home_goals) и гостевыми (total_away_goals) командами.

Отсортируйте по столбцу с сезоном в порядке возрастания.

In [ ]:
SELECT
season,
sum(home_team_goals) as total_home_goals,
sum(away_team_goals) as total_away_goals
FROM sql.matches
GROUP BY season
ORDER BY season

Чтобы соединить две таблицы между собой, достаточно записать названия таблиц через запятую в разделе from. Что произойдёт в таком случае?

In [ ]:
SELECT *
FROM
    sql.teams,
    sql.matches

Напишите запрос, который выведет количество строк соединённой таблицы.

In [ ]:
SELECT
count(*)
FROM 
    sql.teams,
    sql.matches

Чтобы соединить таблицы и получить данные о домашней команде по каждому матчу, добавим условие
where home_team_api_id = api_id.

In [ ]:
SELECT *
FROM
    sql.teams,
    sql.matches
WHERE home_team_api_id = api_id

С помощью известного нам запроса получим названия команд, игравших домашние матчи, и счёт матчей.

In [ ]:
SELECT 
    long_name, 
    home_team_goals,
    away_team_goals
FROM
    sql.teams,
    sql.matches
WHERE home_team_api_id = api_id

Напишите запрос, который выведет таблицу с результатами матчей, содержащую:

названия гостевых команд (long_name),
количество забитых мячей домашней команды (home_team_goals),
количество забитых мячей гостевой команды (away_team_goals).

In [ ]:
SELECT 
    long_name, 
    home_team_goals,
    away_team_goals
FROM
    sql.teams,
    sql.matches
WHERE away_team_api_id = api_id

С помощью JOIN можно соединить и более двух таблиц.

In [ ]:
SELECT
        столбец1,
	столбец2,
	...
FROM
	таблица1
JOIN таблица2 ON условие
JOIN таблица3 ON условие

Синтаксис для указания алиаса такой же, как и для названия столбца.

In [ ]:
SELECT
        столбец1,
	столбец2,
	...
FROM
	таблица1 AS короткое_название_1
JOIN таблица2 AS короткое_название_2 ON условие

Давайте с помощью запроса SQL получим таблицу, содержащую:

название домашней команды;
количество забитых домашней командой голов;
количество забитых гостевой командой голов;
название гостевой команды

In [ ]:
SELECT
    h.long_name "домашняя команда",
    m.home_team_goals "голы домашней команды",
    m.away_team_goals "голы гостевой команды",
    a.long_name "гостевая команда" 
FROM
    sql.matches m
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
    JOIN sql.teams a ON m.away_team_api_id = a.api_id

Напишите запрос, который выведет столбцы:

id матча,
короткое название домашней команды (home_short),
короткое название гостевой команды (away_short).
Отсортируйте запрос по возрастанию id матча.

In [ ]:
SELECT
    m.id,
    h.short_name as home_short,
    a.short_name as away_short
FROM
    sql.matches m
    JOIN sql.teams h ON m.home_team_api_id = h.api_id
    JOIN sql.teams a ON m.away_team_api_id = a.api_id
ORDER BY id

Например, можно вывести id матчей, в которых команда Arsenal была гостевой.

In [ ]:
SELECT 
    m.id
FROM
    sql.teams t
    JOIN sql.matches m ON m.away_team_api_id = t.api_id
WHERE long_name = 'Arsenal'

Напишите запрос, который выведет полное название команды (long_name), количество голов домашней команды (home_goal) и количество голов гостевой команды (away_goal) в матчах, где домашней командой были команды с коротким названием 'GEN'. Отсортируйте запрос по id матча в порядке возрастания.

In [ ]:
SELECT 
    t.long_name,
    sum (m.home_team_goals) home_goal,
    sum (m.away_team_goals) away_goal
    
FROM
    sql.teams t
    JOIN sql.matches m ON m.home_team_api_id = t.api_id
WHERE short_name = 'GEN'
GROUP BY t.id, m.id
ORDER BY m.id

Напишите запрос, чтобы вывести id матчей, короткое название домашней команды (home_short), короткое название гостевой команды (away_short) для матчей сезона 2011/2012, в которых участвовала команда с названием Liverpool. Отсортируйте по id матча в порядке возрастания.

In [ ]:
SELECT
    m.id,
    th.short_name home_short,
    tg.short_name away_short
        
FROM
    sql.matches m
    JOIN sql.teams th ON m.home_team_api_id = th.api_id
    JOIN sql.teams tg ON m.away_team_api_id = tg.api_id
WHERE season = '2011/2012' and (th.long_name = 'Liverpool' or tg.long_name = 'Liverpool')
GROUP BY th.id, tg.id, m.id
ORDER BY m.id

Например, мы можем вывести сумму голов по командам для матчей, где команда выступала в гостях.

In [ ]:
SELECT
    t.long_name,
    SUM(m.home_team_goals) + SUM(m.away_team_goals) match_goals
FROM
    sql.matches m
    JOIN sql.teams t ON m.away_team_api_id = t.api_id 
GROUP BY t.id

Поставим задачу — вывести таблицу с суммарным количеством забитых голов в матчах по командам и сезонам для команд, в которых суммарное количество голов в матчах сезона больше 100.
Для начала посчитаем общее количество голов в матчах по сезонам.

Затем добавим таблицу с командами, группировку по командам и условие фильтрации.

In [ ]:
SELECT
    m.season,
    t.long_name,
    SUM(m.home_team_goals) + SUM(m.away_team_goals) total_goals
FROM sql.matches m
JOIN sql.teams t ON t.api_id = m.home_team_api_id OR t.api_id = m.away_team_api_id
GROUP BY m.season, t.id
HAVING SUM(m.home_team_goals) + SUM(m.away_team_goals) > 100

Напишите запрос, с помощью которого можно вывести список полных названий команд, сыгравших в гостях 150 и более матчей. Отсортируйте список по названию команды.

In [ ]:
SELECT
    t.long_name
FROM sql.matches m
JOIN sql.teams t ON t.api_id = m.away_team_api_id
GROUP BY t.id
HAVING count (m.id)>=150

Используя LEFT JOIN, выведите список уникальных названий команд, содержащихся в таблице matches. Отсортируйте список в алфавитном порядке. В поле ниже введите запрос, с помощью которого вы решили задание.

In [ ]:
SELECT
    t.long_name
FROM   
    sql.teams t
    LEFT JOIN sql.matches m ON t.api_id = m.away_team_api_id or t.api_id = m.home_team_api_id
WHERE m.id is not null
GROUP BY long_name
ORDER BY long_name

Используя LEFT JOIN, напишите запрос, который выведет полное название команды (long_name), количество матчей, в которых участвовала команда, — домашних и гостевых (matches_cnt). Отсортируйте по количеству матчей в порядке возрастания, затем — по названию команды в алфавитном порядке.

In [ ]:
SELECT
    t.long_name,
    count(m.home_team_api_id + away_team_api_id) matches_cnt
FROM   
    sql.teams t
    LEFT JOIN sql.matches m ON t.api_id = m.away_team_api_id or t.api_id = m.home_team_api_id
GROUP BY t.id
ORDER BY matches_cnt DESC, t.long_name

CROSS JOIN может быть полезен, когда необходимо создать таблицу фактов.

Например, с помощью такого запроса мы можем получить все возможные комбинации полных названий команд в матчах.

In [ ]:
SELECT
    DISTINCT /*оператор исключения повторяющихся строк*/
    t1.long_name home_team, /*столбец long_name таблицы t1; новое название*/
    t2.long_name away_team /*столбец long_name таблицы t2; новое название*/
FROM
    sql.teams t1 /*таблица teams с алиасом t1*/
    CROSS JOIN sql.teams t2 /*оператор соединения CROSS JOIN; таблица teams с алиасом t2*/

Напишите запрос, который выведет все возможные уникальные комбинации коротких названий домашней команды (home_team) и коротких названий гостевой команды (away_team). Отсортируйте запрос по первому и второму столбцам.

In [ ]:
SELECT
    DISTINCT /*оператор исключения повторяющихся строк*/
    t1.short_name home_team, /*столбец long_name таблицы t1; новое название*/
    t2.short_name away_team /*столбец long_name таблицы t2; новое название*/
FROM
    sql.teams t1 /*таблица teams с алиасом t1*/
    CROSS JOIN sql.teams t2 /*оператор соединения CROSS JOIN; таблица teams с алиасом t2*/
ORDER BY 1, 2

Напишите запрос, который выведет список уникальных полных названий команд (long_name), игравших в гостях в матчах сезона 2012/2013. Отсортируйте список в алфавитном порядке.

In [ ]:
SELECT
    t.long_name
FROM   
    sql.teams t
    JOIN sql.matches m ON t.api_id = m.away_team_api_id
WHERE season = '2012/2013'
GROUP BY t.long_name
ORDER BY t.long_name

Напишите запрос, который выведет полное название команды (long_name) и общее количество матчей (matches_cnt), сыгранных командой Inter в домашних матчах.

In [ ]:
SELECT
    t.long_name,
    count(m.id) matches_cnt
FROM   
    sql.teams t
    JOIN sql.matches m ON t.api_id = m.home_team_api_id
WHERE t.long_name = 'Inter'
GROUP BY t.long_name
ORDER BY t.long_name

Напишите запрос, который выведет топ-10 команд (long_name) по суммарному количеству забитых голов в гостевых матчах. Во втором столбце запроса выведите суммарное количество голов в гостевых матчах (total_goals).

In [ ]:
SELECT
    t.long_name,
    sum(m.away_team_goals) total_goals
FROM   
    sql.teams t
    JOIN sql.matches m ON t.api_id = m.away_team_api_id
GROUP BY t.id
ORDER BY total_goals DESC
OFFSET 0 LIMIT 10

Выведите количество матчей между командами Real Madrid CF и FC Barcelona. В поле ниже введите запрос, с помощью которого вы решили задание.

In [ ]:
SELECT
    count(m.id)
FROM   
    sql.matches m
    JOIN sql.teams th ON m.home_team_api_id = th.api_id
    JOIN sql.teams tg ON m.away_team_api_id = tg.api_id
WHERE (th.long_name = 'Real Madrid CF' or tg.long_name = 'Real Madrid CF') 
    and (th.long_name = 'FC Barcelona' or tg.long_name = 'FC Barcelona')

Напишите запрос, который выведет название команды (long_name), сезон (season) и суммарное количество забитых голов в домашних матчах (total_goals). Оставьте только те строки, в которых суммарное количество голов менее десяти. Отсортируйте запрос по названию команды, а затем — по сезону.

In [ ]:
SELECT
    t.long_name,
    m.season,
    SUM(m.home_team_goals) total_goals
FROM sql.matches m
JOIN sql.teams t ON t.api_id = m.home_team_api_id
GROUP BY m.season, t.id
HAVING SUM(m.home_team_goals) < 10
order by long_name, season

In [ ]:
SELECT
   d.cust_name,
   count(s.ship_id) coun,
   count(s.ship_date) dat
   
    
FROM sql.customer d
    JOIN sql.shipment s ON s.cust_id = d.cust_id
where s.ship_date >='01 1, 2017'and s.ship_date <='12 31, 2017' and cust_name = 'Autoware Inc'

GROUP BY d.cust_id, s.cust_id
order by coun DESC

                                    UNION

Напишите запрос, который создает уникальный алфавитный справочник всех городов, штатов, имён водителей и производителей грузовиков. Результатом запроса должны быть два столбца: название и тип объекта (city, state, driver, truck). Отсортируйте список по названию объекта, а затем — по типу.

In [ ]:
(SELECT
         c.city_name as "'название'", 'city' as "'тип объекта'"
FROM 
         sql.city c
group BY 1)

UNION ALL

(SELECT
         c.state, 'state'
FROM 
         sql.city c
group BY 1)

UNION ALL

(SELECT
         d.first_name, 'driver'
FROM 
         sql.driver d
group BY 1)
UNION ALL

(SELECT
         t.make, 'truck'
FROM 
         sql.truck t
group BY 1)
ORDER BY 1, 2

Напишите запрос, который соберёт имена всех упомянутых городов и штатов из таблицы city. Результатом запроса должен быть один столбец object_name, отсортированный в алфавитном порядке.

In [ ]:
SELECT
         c.city_name as object_name
FROM 
         sql.city c

UNION ALL

SELECT
         c.state
FROM 
         sql.city c
ORDER BY 1

Выполнив предыдущий запрос, мы получили города с одинаковыми названиями, но находящиеся в разных штатах, а также большое количество дублирующихся названий штатов. Перепишите предыдущий запрос так, чтобы остались только уникальные названия городов и штатов. Результатом запроса должен быть один столбец object_name, отсортированный в алфавитном порядке.

In [ ]:
(SELECT
         c.city_name as object_name
FROM 
         sql.city c
GROUP BY 1)

UNION

(SELECT
         c.state
FROM 
         sql.city c
GROUP BY 1)
ORDER BY 1

Напишите запрос, который объединит в себе все почтовые индексы водителей и их телефоны в единый столбец-справочник contact. Также добавьте столбец с именем водителя first_name и столбец contact_type с типом контакта (phone или zip в зависимости от типа). Отсортируйте список по столбцу с контактными данными в порядке возрастания, а затем — по имени водителя.

In [ ]:
SELECT
         i.zip_code::text as contact, i.first_name, 'zip' as contact_type
         
FROM 
         sql.driver i

UNION

SELECT
         c.phone::text, c.first_name, 'phone'
FROM 
         sql.driver c
order by 1, 2

Попробуем вывести обобщённые данные о населении по всем городам, с детализацией до конкретного города.

In [ ]:
SELECT
         c.city_name,
         c.population
FROM
         sql.city c

UNION ALL

SELECT
         'total',
         SUM(c.population)
FROM
         sql.city c
ORDER BY 2 DESC

Напишите запрос, который выводит общее число доставок total_shipments, а также количество доставок в каждый день. Необходимые столбцы: date_period, cnt_shipment. Не забывайте о единой типизации. Упорядочите по убыванию столбца date_period.

In [ ]:
(SELECT
       c.ship_date::text as date_period,
       count(c.ship_id) as cnt_shipment
FROM
         sql.shipment as c
GROUP BY c.ship_date)

UNION ALL

SELECT
        'total_shipments',
        count(c.ship_id)
FROM
         sql.shipment c
ORDER BY 2 DESC

Например, с помощью UNION можно отобразить, у кого из водителей заполнен столбец с номером телефона.

In [ ]:
SELECT
         d.first_name,
         d.last_name,
         'телефон заполнен' phone_info
FROM
         sql.driver d
WHERE d.phone IS NOT NULL

UNION

SELECT
         d.first_name,
         d.last_name,
         'телефон не заполнен' phone_info
FROM
         sql.driver d
WHERE d.phone IS NULL

Напишите запрос, который выведет все города и штаты, в которых они расположены, а также информацию о том, была ли осуществлена доставка в этот город:

если в город была осуществлена доставка, то выводим 'доставка осуществлялась';
если нет — выводим 'доставка не осуществлялась'.
Столбцы к выводу: city_name, state, shipping_status. Отсортируйте в алфавитном порядке по городу, а затем — по штату.

In [ ]:
SELECT
         d.city_name,
         d.state,
         'доставка осуществлялась' shipping_status
FROM
         sql.city d
LEFT JOIN sql.shipment s ON d.city_id = s.city_id
WHERE s.city_id IS NOT NULL

UNION

SELECT
         d.city_name, 
         d.state,
         'доставка не осуществлялась' shipping_status
FROM
         sql.city d
LEFT JOIN sql.shipment s  ON d.city_id = s.city_id
WHERE s.city_id IS NULL
ORDER BY city_name, state

Напишите запрос, который выводит два столбца: city_name и shippings_fake. Выведите города, куда совершались доставки. Пусть первый столбец содержит название города, а второй формируется так:

если в городе было более десяти доставок, вывести количество доставок в этот город как есть;
иначе — вывести количество доставок, увеличенное на пять.
Отсортируйте по убыванию получившегося «нечестного» количества доставок, а затем — по имени в алфавитном порядке.

In [ ]:
(SELECT
         d.city_name,
         count(s.ship_id) shippings_fake
FROM
         sql.city d
LEFT JOIN sql.shipment s ON d.city_id = s.city_id
WHERE s.city_id IS NOT NULL
group by city_name
HAVING count (s.ship_id)>10)

UNION

(SELECT
         d.city_name, 
         count(s.ship_id)+5 shippings_fake
FROM
         sql.city d
LEFT JOIN sql.shipment s  ON d.city_id = s.city_id
WHERE s.city_id IS NOT NULL
group by city_name
HAVING count (s.ship_id)<=10)
ORDER BY 2 desc, 1

Составим запрос, который позволит вывести первые три буквы алфавита и их порядковые номера.

In [ ]:
SELECT 
         'a' letter,'1' ordinal_position

UNION 

SELECT 
         'b','2'

UNION 

SELECT
         'c','3'

Напишите запрос, который выберет наибольшее из значений:

1000000;
541;
-500;
100.
Столбец с результатом назовите result.

In [ ]:
(SELECT
         1000000 as result
UNION ALL
SELECT
         541 as result
UNION ALL
SELECT
         -500 as result
UNION ALL
SELECT
         100 as result)
ORDER BY 1 desc
LIMIT 1

Помним, что сортировка для числовых и строковых типов данных отличается. Построив запрос по аналогии с примером, приведите значения к текстовому типу данных, сравните и выберите наибольшее из них:

1000000;
541;
-500;
100.
Столбец с ответом назовите mycol

In [ ]:
(SELECT
         '1000000' as mycol
UNION ALL
SELECT
         '541' as mycol
UNION ALL
SELECT
         '-500' as mycol
UNION ALL
SELECT
         '100' as mycol)
ORDER BY 1 desc
LIMIT 1

Предположим, нам нужно узнать, в какие города осуществлялась доставка, за исключением тех, в которых проживают водители.

In [ ]:
SELECT
         c.city_name
FROM
         sql.shipment s
JOIN sql.city c ON s.city_id = c.city_id

EXCEPT

SELECT
         cc.city_name
FROM
         sql.driver d 
JOIN sql.city cc ON d.city_id=cc.city_id
ORDER BY 1

Все водители проживают в городе Memphis, и мы видим, что он не выводится в результате запроса.

Выведите список zip-кодов, которые есть в таблице sql.driver, но отсутствуют в таблице sql.customer. Отсортируйте по возрастанию, столбец к выводу — zip. В поле ниже введите запрос, с помощью которого вы решили эту задачу.

In [ ]:
SELECT
         s.zip_code as zip
FROM
         sql.driver s


EXCEPT

SELECT
         d.zip as zip
FROM
         sql.customer d

Предположим, нам надо вывести совпадающие по названию города и штаты.

In [ ]:
SELECT 
         c.city_name object_name
FROM 
         sql.city c

INTERSECT

SELECT 
         cc.state
FROM 
         sql.city cc
ORDER BY 1

Напишите запрос, который выведет список id городов, в которых есть и клиенты, и доставки, и водители.

In [ ]:
SELECT 
         c.city_id
FROM 
         sql.city c

INTERSECT

SELECT 
         cc.city_id
FROM 
         sql.customer cc
INTERSECT

SELECT 
         cd.city_id
FROM 
         sql.driver cd
INTERSECT

SELECT 
         ch.city_id
FROM 
         sql.shipment ch

Выведите zip-код, который есть как в таблице с клиентами, так и в таблице с водителями.

In [ ]:
SELECT 
         c.zip as zip
FROM 
         sql.customer c
INTERSECT
SELECT 
         cd.zip_code as zip
FROM 
         sql.driver cd

Запишем структуру запроса с учётом полученных знаний.

In [ ]:
SELECT 
         N columns
FROM 
         table_1

UNION / UNION ALL / EXCEPT / INTERSECT 

SELECT 
         N columns
FROM 
         table_2

Выведите города с максимальным и минимальным весом единичной доставки. Столбцы к выводу — city_name, weight.

In [ ]:
(SELECT
         d.city_name,
         s.weight
FROM
         sql.city d
JOIN sql.shipment s ON d.city_id = s.city_id
ORDER BY 2 desc
limit 1)

UNION

(SELECT
         d.city_name,
         s.weight
FROM
         sql.city d
JOIN sql.shipment s  ON d.city_id = s.city_id
ORDER BY 2
limit 1)
ORDER BY 2 desc

Выведите идентификационные номера клиентов (cust_id), которые совпадают с идентификационными номерами доставок (ship_id). Столбец к выводу — mutual_id. Отсортируйте по возрастанию.

In [ ]:
SELECT 
         c.cust_id as mutual_id
FROM 
         sql.customer c
INTERSECT
SELECT 
         cd.ship_id
FROM 
         sql.shipment cd

Создайте справочник, содержащий уникальные имена клиентов, которые являются производителями (cust_type='manufacturer'), и производителей грузовиков, а также описание объекта — 'КЛИЕНТ' или 'ГРУЗОВИК'. Столбцы к выводу — object_name, object_description. Отсортируйте по названию в алфавитном порядке.

In [ ]:
SELECT
         d.cust_name object_name,
         'КЛИЕНТ' object_description
FROM
         sql.customer d
WHERE d.cust_type='manufacturer'
UNION
SELECT
         s.make, 'ГРУЗОВИК'
FROM
         sql.truck s
ORDER BY 1

Давайте узнаем, сколько сейчас времени в другом регионе, например Лос-Анджелесе. Напишите запрос, который выведет текущие время и дату в часовом поясе Лос-Анджелеса ("America/Los_Angeles"). Столбец в выдаче — now (время и дата в нужном часовом поясе).

In [ ]:
select now() at time zone 'America/Los_Angeles' as now

Предположим, у нас есть дата и время какого-то события и мы хотим посмотреть, к какой дате оно относится для Москвы и для UTC. Используйте подзапрос и выведите дату в ts в Московском часовом поясе и в поясе UTC. Столбцы в выдаче: dt_msk (дата в московском часовом поясе), dt_utc (дата в UTC).

In [ ]:
WITH x AS 
(
SELECT '2018-12-31 21:00:00+00'::timestamp WITH time zone ts
)
SELECT 
        (ts at time zone 'Europe/Moscow')::date dt_msk,
        (ts)::date dt_utc
FROM x

Для значений timestamp это день месяца (1-31), для значений interval — число дней.

In [ ]:
SELECT EXTRACT(DAY FROM TIMESTAMP '2001-02-16 20:38:40')
--16
SELECT EXTRACT(DAY FROM INTERVAL '40 days 1 minute')
--40

In [ ]:
--Час (0-23).
SELECT EXTRACT(HOUR FROM TIMESTAMP '2001-02-16 20:38:40')
--20

In [ ]:
--Номер месяца, считая с января (1) до декабря (12).
SELECT EXTRACT(MONTH FROM TIMESTAMP '2001-02-16 20:38:40')
--2

In [ ]:
--Поле года. Учтите, что года 0 не было, и это следует иметь в виду, вычитая из годов нашей эры годы до нашей эры.
SELECT EXTRACT(YEAR FROM TIMESTAMP '2001-02-16 20:38:40')
--2001

In [ ]:
--Год по недельному календарю ISO 8601, в который попадает дата (не применимо к интервалам).
SELECT EXTRACT(ISOYEAR FROM DATE '2006-01-01')
--2005
SELECT EXTRACT(ISOYEAR FROM DATE '2006-01-02')
--2006

In [ ]:
--Номер недели в году по недельному календарю
SELECT EXTRACT(WEEK FROM TIMESTAMP '2001-02-16 20:38:40')
--7

In [ ]:
--CENTURY век
SELECT EXTRACT(CENTURY FROM TIMESTAMP '2000-12-16 12:21:13')
--20
SELECT EXTRACT(CENTURY FROM TIMESTAMP '2001-02-16 20:38:40')
--21

In [ ]:
--Десятилетие.
SELECT EXTRACT(DECADE FROM TIMESTAMP '2001-02-16 20:38:40')
--200

In [ ]:
--День недели, считая с воскресенья (0) до субботы (6)
SELECT EXTRACT(DOW FROM TIMESTAMP '2001-02-16 20:38:40')
--5

In [ ]:
--День года (1-365/366)
SELECT EXTRACT(DOY FROM TIMESTAMP '2001-02-16 20:38:40')
--47

In [ ]:
--День недели, считая с понедельника (1) до воскресенья (7)
SELECT EXTRACT(ISODOW FROM TIMESTAMP '2001-02-18 20:38:40')
--7

Давайте посчитаем помесячную статистику по доставкам, используя функцию extract. Напишите запрос, который выведет год, месяц и количество доставок. Отсортируйте по году и по месяцу в порядке возрастания. Столбцы в выдаче: year_n (номер года), month_n (номер месяца), qty (количество доставок).

In [ ]:
select
        EXTRACT(YEAR FROM ship_date) year_n,
        EXTRACT(MONTH FROM ship_date) month_n,
        count(ship_id) qty
From
        sql.shipment
Group By year_n, month_n
order by year_n, month_n

                                ФУНКЦИЯ TO_CHAR()

Функция to_char() нужна для форматирования даты времени и интервалов в нужный текст.

In [ ]:
to_char(timestamp[date],text)	text	преобразует время в текст	    to_char(current_timestamp, 'HH12:MI:SS')
to_char(interval, text)	        text	преобразует интервал в текст	to_char(interval '15h 2m 12s', 'HH24:MI:SS')

In [ ]:
Код форматирования	Описание
HH24            	час (00-23)
MI	                минута (00-59)
SS                  секунда (00-59)
MS	                миллисекунда (000-999)
SSSS	            число секунд с начала суток (0-86399)
YYYY	            год (4 или более цифр)
YY	                последние две цифры года
month	            полное название месяца в нижнем регистре (дополненное пробелами до девяти символов)
MM	                номер месяца (01-12)
day	                полное название дня недели в нижнем регистре, дополненное пробелами до девяти символов
DDD	                номер дня в году (001-366)
DD	                день месяца (01-31)
ID	                номер дня недели по ISO 8601, считая с понедельника (1) до воскресенья (7)
WW	                номер недели в году (1-53); первая неделя начинается в первый день года

In [ ]:
Код форматирования	Описание
HH	                час (01-12)
HH12	            час (01-12)
HH24	            час (00-23)
MI	                минута (00-59)
SS	                секунда (00-59)
MS	                миллисекунда (000-999)
US	                микросекунда (000000-999999)
SSSS	            число секунд с начала суток (0-86399)
AM, am, PM или pm	обозначение времени до/после полудня (без точек)
A.M., a.m., P.M. или p.m.	обозначение времени до/после полудня (с точками)
Y,YYY	            год (четыре или более цифр) с разделителем
YYYY	            год (четыре или более цифр)
YYY	                последние три цифры года
YY	                последние две цифры года
Y	                последняя цифра года
IYYY	            недельный год по ISO 8601 (четыре или более цифр)
IYY	                последние три цифры недельного года по ISO 8601
IY	                последние две цифры недельного года по ISO 8601
I	                последняя цифра недельного года по ISO 8601
BC, bc, AD или ad	обозначение эры (без точек)
B.C., b.c., A.D. или a.d.	обозначение эры (с точками)
MONTH	            полное название месяца в верхнем регистре (дополненное пробелами до девяти символов)
Month	            полное название месяца с большой буквы (дополненное пробелами до девяти символов)
month	            полное название месяца в нижнем регистре (дополненное пробелами до девяти символов)
MON	                сокращённое название месяца в верхнем регистре (три буквы в английском; в других языках длина может меняться)
Mon	                сокращённое название месяца с большой буквы (три буквы в английском; в других языках длина может меняться)
mon	                сокращённое название месяца в нижнем регистре (три буквы в английском; в других языках длина может меняться)
MM	                номер месяца (01-12)
DAY	                полное название дня недели в верхнем регистре (дополненное пробелами до девяти символов)
Day	                полное название дня недели с большой буквы (дополненное пробелами до девяти символов)
day	                полное название дня недели в нижнем регистре (дополненное пробелами до девяти символов)
DY	                сокращённое название дня недели в верхнем регистре (три буквы в английском; в других языках может меняться)
Dy	                сокращённое название дня недели с большой буквы (три буквы в английском; в других языках длина может меняться)
dy	                сокращённое название дня недели в нижнем регистре (три буквы в английском; в других языках длина может меняться)
DDD	                номер дня в году (001-366)
IDDD	            номер дня в году по ISO 8601 (001-371; 1 день — понедельник первой недели по ISO)
DD	                день месяца (01-31)
D	                номер дня недели, считая с воскресенья (1) до субботы (7)
ID	                номер дня недели по ISO 8601, считая с понедельника (1) до воскресенья (7)
W	                неделя месяца (1-5) (первая неделя начинается в первое число месяца)
WW	                номер недели в году (1-53) (первая неделя начинается в первый день года)
IW	                номер недели в году по ISO 8601 (01-53; первый четверг года относится к неделе 1)
CC	                век (две цифры; двадцать первый век начался 2001-01-01)
J	                день по юлианскому календарю (номер дня с 24 ноября 4714 г. до н. э.)
Q	                квартал (игнорируется функциями to_date и to_timestamp)
RM	                номер месяца римскими цифрами в верхнем регистре (I-XII; I=январь)
rm	                номер месяца римскими цифрами в нижнем регистре (i-xii; i=январь)
TZ	                сокращённое название часового пояса в верхнем регистре (поддерживается только в to_char)
tz	                сокращённое название часового пояса в нижнем регистре (поддерживается только в to_char)
OF	                смещение часового пояса от UTC (поддерживается только в to_char)

Давайте выведем текст текущего времени для сервиса точного времени. Напишите запрос, который выводит текст "Точное время x часов y минут z секунд" (текст в кавычки заключать не нужно), где x, y, z — часы, минуты и секунды соответственно, при условии, что сообщение нужно вывести для московского часового пояса. Время введите в 24-часовом формате. Столбцы в выдаче: msg (сообщение).

In [ ]:
SELECT to_char(now() at time zone 'Europe/Moscow','Точное время hh24 часов mi минут ss секунд') msg

                                ФУНКЦИЯ DATE_TRUNC()

Функция date_trunc() позволяет отсечь заданное время, дату или дату со временем до нужной точности.

Например, если мы хотим округлить текущее время-дату до минут, то можно вызвать

In [ ]:
select date_trunc('minute',now())

Для получения разной степени точности вместо minute можно использовать следующие параметры:

microseconds;
milliseconds;
second;
minute;
hour;
day;
week;
month;
quarter;
year;
decade;
century;
millennium.

Давайте подготовим данные для квартальной отчётности компании. Напишите запрос, который выведет дату доставки, округлённую до квартала, и общую массу доставок. Отсортируйте по кварталу в порядке возрастания. Столбцы в выдаче: q (начало квартала, тип date), total_weight (сумма масс доставок за квартал).

In [ ]:
SELECT
    date_trunc('quarter',s.ship_date)::date q,
    sum(s.weight) total_weight
FROM
    shipping.shipment s
GROUP BY 1
ORDER BY 1

Давайте оценим, в каком интервале совершались доставки в разных городах. Напишите запрос, который выведет разницу между последним и первым днём доставки по каждому городу. Отсортируйте по первому и второму столбцам. Столбцы в выдаче: city_name (название города) и days_active (время от первой до последней доставки в днях).

In [ ]:
SELECT 
    c.city_name,
    max(s.ship_date) - min(s.ship_date) as days_active
FROM shipping.shipment s 
JOIN shipping.city c ON c.city_id = s.city_id
GROUP BY 1
ORDER BY 1,2

                            оператор конкатенации строк — || (две вертикальные черты). Он позволяет объединять две и более строки.

Составим текстовый шаблон сообщения о доставке по конкретному водителю для наших клиентов. Напишите SQL-запрос, который выведет следующее сообщение для каждого водителя по форме:

Ваш заказ доставит водитель #Имя Фамилия#. Его контактный номер: #Номер#
Где #Имя Фамилия# и #Номер# взяты из справочника водителей. Если номер не указан, то выведите прочерк (-). Для номеров рекомендуем использовать COALESCE. Пример из таблицы для наглядности:

Ваш заказ доставит водитель Adel Al-Alawi. Его контактный номер: (901) 947-4433
Столбец к выдаче — msg (текст сообщения).

In [ ]:
select 'Ваш заказ доставит водитель '|| first_name || ' ' || last_name||'.'||' Его контактный номер: ' || coalesce (phone,'-') msg
from
    sql.driver

                                UPPER() И LOWER()

Функции upper(your_text) и lower(your_text) переводят каждый символ вашего текста в верхний и нижний регистр соответственно.

Cоставим справочник названий клиентов, у которых более десяти доставок. Данные сохраним в нижнем регистре, чтобы передавать их в другие системы (например, для обзвона), которые не чувствительны к регистру. Напишите запрос, который выводит все id названий клиентов, у которых более десяти доставок, в нижнем регистре. Отсортируйте результат по cust_id в порядке возрастания. Столбцы в выдаче: cust_id (id клиента) и cust_name (название клиента в нижнем регистре).

In [ ]:
SELECT 
      b.cust_id,
      lower(b.cust_name)
FROM
     sql.customer b
JOIN sql.shipment d ON b.cust_id = d.cust_id
GROUP BY b.cust_id
HAVING count(d.ship_id)>10
ORDER BY 1

                                    REPLACE()

С помощью функции replace() можно заменять символы в строках.

Составим справочник utm-меток, для того чтобы передавать город и штат прямо в адресной строке. (Если вы не знаете, что такое utm-метка, почитайте статью на Вики. К программе курса это не относится, но знать полезно.) Напишите SQL-запрос, который выведет список сочетаний из справочника следующего вида: название_штата__название_города, где названия штата и города взяты из справочника городов и переведены в нижний регистр. Столбец к выдаче — utm (форматированный штат-город). Отсортируйте полученный справочник по алфавиту. Обратите внимание! Все пробелы в названиях городов и штатов замените символом '_' (одно нижнее подчёркивание), а для разделения названий города и штата используйте '__' (два последовательных нижних подчёркивания). Пример из таблицы для наглядности: new_jersey__union_city

In [ ]:
SELECT 
      lower(replace(state,' ','_')||'__'||replace(city_name,' ','_')) AS utm
FROM
     sql.city
ORDER BY 1

                                LEFT() И RIGHT()
познакомимся с функциями, обрезающими строки.

Функции left(string,n) и right(string,n) оставляют n левых или правых символов от строки, поданной на вход

Представим, что к вам пришёл разработчик, который хочет сократить поле state в таблице city до четырёх символов, и попросил проверить, останeтся ли значения в нём уникальными. Чтобы ответить на этот вопрос, напишите SQL-запрос, который выведет первые четыре символа названия штата и количество уникальных названий штатов, которому они соответствуют. Оставьте только те, которые относятся к двум и более штатам. Добавьте сортировку по первому столбцу. Столбцы в выдаче: code (четыре первых символа в названии штата), qty (количество уникальных названий штата, начинающихся с этих символов).

In [ ]:
SELECT
                LEFT(state,4) code, 
                COUNT(distinct state) qty
        FROM shipping.city
        GROUP BY 1
    HAVING COUNT(distinct state)>1

                                    FORMAT() 
Функция format() используется для составления форматированного текста с подстановками. То же самое можно сделать через конкатенацию строк, но это неудобно и громоздко

select format('Hello, %s!', d.first_name) from shipping.driver d
Комбинация символов %s обозначает, что вместо них будет подставлен один из аргументов, причём в том же порядке, что и в исходном столбце.

Давайте подготовим географическую сводку для каждого города. Напишите SQL-запрос, который выведет описание региона в следующем формате:


[city_name] is located in [state]. There's [population] people living there. Its area is [area]

Обратите внимание, точку в конце ставить не нужно. Отсортируйте по названию города в алфавитном порядке. Столбец к выдаче — str (сводка). Пример:


Abilene is located in Texas. There's 115930 people living there. Its area is 105.10

In [ ]:
SELECT
      format( $$%s is located in %s. There's %s people living there. Its area is %s$$, city_name, state, population, area) AS str
FROM
    sql.city
ORDER BY 1